  
.all{
    background-color:black;
    font-family: cursive;
}

*{
    color: cornsilk;
}

.grid{
    display: flex;
    flex-wrap: wrap;
   justify-content: first baseline;
 
}

.group{
    display: flex;
    flex-wrap: wrap;
    justify-content:first baseline ;
}
